<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://hills.ccsf.cc.ca.us/~tpolyako/cnit132/somefirst.html"><em>Creative App:Web Design and Programming
  </em></a> is a
  <a href="http://hills.ccsf.cc.ca.us/~tpolyako/cnit132/somefirst.html">about this app</a> 
  
  This is about Creative App.
</p>


