<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  To get help  to know your BMI, to let friends to know this side, see the
  <a href="http://hills.ccsf.cc.ca.us/~tpolyako/cnit132/fanlink.html"><em>Help Creative app</em>
  </a>
</p>

