<% provide(:title, "Home") %>
<h1>Creative App</h1>
<p>
  This is the home page for the
  <a href="http://hills.ccsf.cc.ca.us/~tpolyako/cnit132/homecnit.html">Tatyana's </a>
  creative application.
</p>

