<footer class="footer">
  <small>
    The <a href="http://hills.ccsf.cc.ca.us/~tpolyako/cnit132/graphic1.html">Example of web 
page</a>
    by <a 
href="http://sfreorelaty.fatcow.com/galleries/selportretgallery/selfportret.html">Tatyana Pol$
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.yahoo.com/">News</a></li>
    </ul>
  </nav> </footer>
